<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sanity - Posts</title>
  <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
  <link rel="icon" href="{{url_for('static', filename='media/website_icon.png')}}" type="image/png">
</head>

<body class="flex flex-col min-h-screen font-sans bg-purple-300">
  <header class="bg-gray-900 text-white text-center py-4">
    <h1 class="text-2xl">Sanity</h1>
    <p class="text-sm">Security Student</p>
    <nav>
      <a href="{{url_for('index')}}" class="text-white hover:underline">Home</a>
      <a href="{{url_for('about')}}" class="text-white hover:underline ml-4">About</a>
      <a href="{{url_for('posts')}}" class="text-white hover:underline ml-4">Posts</a>
      <a href="{{url_for('projects')}}" class="text-white hover:underline ml-4">Projects</a>
    </nav>
  </header>
  
  <main class="flex-grow">
    {% extends 'base.html' %}
    {% block title %} Posts {% endblock %}
    {% block content %}
    <section class="mx-auto mt-8 mb-4 px-8 py-4 bg-gray-800 rounded-md shadow-md">
        <h1 class="text-white text-2xl py-8 mb-8">Posts</h1>
        {% for post in posts %}
          <div class="text-sm">
              <h2 class="text-white text-lg mt-8">{{post['title']}}</h2>
              <p class="text-white">{{post['created'] }}</p>
              <p class="text-white">{{post['content']}}</p>
          </div>
        {% endfor %}
    </section>
 
  </main>

  <footer class="bg-gray-900 text-white text-center py-4">
    <p>&copy; 2024 Sanity. All rights reserved.</p>
  </footer>
  {% endblock %}
</body>

</html>
